html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Chilanka', cursive;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Chilanka', cursive;
  line-height:1rem;
  font-size: 1.1rem; 
  min-height: 100vh;   
  background: #455062;
}

